
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="">Galleria</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">

            </ul>

            <ul class="navbar-nav   mb-2 mb-lg-0 ">
                <li class="nav-item "> <a class="nav-link text-start fw-semibold btn border-0" >Packages</a></li>
                <li class="nav-item"><a class="nav-link text-start fw-semibold btn border-0" >Offers </a></li>
                <li class="nav-item"><a class="nav-link  text-start fw-semibold btn border-0" >Contact Us</a></li>
                <li class="nav-item"><a class="nav-link dropdown-toggle text-start fw-semibold btn border-0" >Currency
                        ($)</a>
                </li>
                <li class="nav-item"><a class="nav-link dropdown-toggle text-start fw-semibold btn border-0" >Language
                        (EN)</a>
                </li>
                <li class="nav-item"><a class="nav-link text-start fw-semibold btn border-0" >Sign In</a></li>
                <li class="nav-item"><a class="nav-link text-start fw-semibold btn border-0" >Sign Up</a></li>

            </ul>

        </div>
    </div>
</nav>